<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Modal | Apathia</title>
    <meta name="description" content="Vite & Vue powered static site generator.">
    <link rel="stylesheet" href="/assets/style.6d44f67e.css">
    <link rel="modulepreload" href="/assets/app.3b029347.js">
    <link rel="modulepreload" href="/assets/component_Modal.md.c75bccf7.lean.js">
    
    <script>(()=>{const e=localStorage.getItem("vitepress-theme-appearance"),a=window.matchMedia("(prefers-color-scheme: dark)").matches;(!e||e==="auto"?a:e==="dark")&&document.documentElement.classList.add("dark")})();</script>
  </head>
  <body>
    <div id="app"><!----></div>
    <script>__VP_HASH_MAP__ = JSON.parse("{\"component_button.md\":\"c35fafd7\",\"component_checkbox.md\":\"cfb95030\",\"component_collapse.md\":\"ad60087e\",\"component_confirm.md\":\"fb6b6c9a\",\"component_customrender.md\":\"07431057\",\"component_form.md\":\"51171f29\",\"component_input.md\":\"dd3e0c6d\",\"component_modal.md\":\"c75bccf7\",\"component_radio.md\":\"50948144\",\"component_select.md\":\"444c4cb9\",\"component_table.md\":\"943280be\",\"component_toast.md\":\"f49726c0\",\"component_upload.md\":\"adaecdb2\",\"component_index.md\":\"fd85152e\",\"index.md\":\"17e494ba\",\"introduction_index.md\":\"3a8a7289\",\"introduction_install.md\":\"d81dbbab\"}")</script>
    <script type="module" async src="/assets/app.3b029347.js"></script>
    
  </body>
</html>